<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spencer+</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Header -->
    <div id="header" class="skel-panels-fixed">
        <div id="logo">
            <img src="{{ url_for('static', filename='images/Spencer_Plus_Logo.png') }}">
        </div>
        <nav id="nav">
            <ul>
                <li><a href="index.html">Homepage</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li class="active"><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div id="banner" class="container">
        <section>
            <h1>Contact me below</h1>
        </section>
    </div>
    <div>
        <form action="https://webdevbasics.net/scripts/demo.php" method="post">
            <fieldset>
                <legend>Contact Information</legend>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required> <!-- Changed 'phone' to 'tel' for better semantics -->
            </fieldset>
            
            <fieldset>
                <legend>Message</legend>
                <textarea name="Message" id="Message" rows="4" cols="40"></textarea>
            </fieldset>
            
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </form>
    </div>
    <!-- Footer -->
    <div class="copyright">
        <a>Spencer Plus ©</a>
    </div>
</body>
</html>
