<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spencer+</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Header -->
    <div id="header" class="skel-panels-fixed">
        <div id="logo">
            <img src="{{ url_for('static', filename='images/Spencer_Plus_Logo.png') }}">
        </div>
        <nav id="nav">
            <ul>
                <li><a href="index.html">Homepage</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li class="active"><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div id="banner" class="container">
        <h1>Follow these links to check out my different projects!</h1>
        <a href="https://wiki.spencerplus.com" class="button">Wiki <i class="fa fa-wikipedia-w" style="font-size:32px;color:red"></i></a> 
        <a href="https://github.com/Jmspencer41" class="button">GitHub <i class="fa fa-github" style="font-size:32px;color:red"></i></a> 
        <a href="https://www.youtube.com/@independence3d876" class="button">YouTube <i class="fa fa-youtube-play" style="font-size:32px;color:red"></i></a> 
    </div>
    <div class="container">
        <div class="row no-collapse-1">
            <section class="4u">
                <div class="box videos">
                    <p>3D Printing videos</p>
                    <iframe width="315" height="180" src="https://www.youtube.com/embed/4Pytp7g6DGg?autoplay=1&mute=1" allowfullscreen></iframe>
                </div>
            </section>
            <section class="4u">
                <div class="box videos">
                    <p>3D Printing videos</p>
                    <iframe width="315" height="180" src="https://www.youtube.com/embed/az2VgrXZcMc?autoplay=1&mute=1" allowfullscreen></iframe>
                </div>
            </section>
            <section class="4u">
                <div class="box videos">
                    <p>3D Printing videos</p>
                    <iframe width="315" height="180" src="https://www.youtube.com/embed/az2VgrXZcMc?autoplay=0&mute=1" allowfullscreen></iframe>
                </div>
            </section>
        </div>
        <div class="row no-collapse-1">
            <section class="4u">
                <div class="box videos">
                    <p>3D Printing videos</p>
                    <iframe width="315" height="180" src="https://www.youtube.com/embed/az2VgrXZcMc?autoplay=0&mute=1" allowfullscreen></iframe>
                </div>
            </section>
            <section class="4u">
                <div class="box videos">
                    <p>3D Printing videos</p>
                    <iframe width="315" height="180" src="https://www.youtube.com/embed/az2VgrXZcMc?autoplay=0&mute=1" allowfullscreen></iframe>
                </div>
            </section>
            <section class="4u">
                <div class="box videos">
                    <p>3D Printing videos</p>
                    <iframe width="315" height="180" src="https://www.youtube.com/embed/az2VgrXZcMc?autoplay=0&mute=1" allowfullscreen></iframe>
                </div>
            </section>
        </div>
    </div>
    <!-- Footer -->
    <div class="copyright">
        <a>Spencer Plus ©</a>
    </div>
</body>
</html>
